.varun {
    border: 2px solid rgb(154, 245, 126);
    background-color: rgb(49, 49, 48);
    font-size: larger;
    font-weight: bolder;
    width:auto;
    height: auto;
    margin: 10px;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px;
    box-sizing: border-box;
    color: rgb(7, 196, 54);
}
.varun button{
    margin-left: 50px;
}
.varun li{
    text-decoration: none;
    display: flex;
    margin-top: 10px;
}
body{
    background-color: rgb(44, 43, 43);
    overflow-x: hidden;
}